<!DOCTYPE html>
<html lang="ml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ഇൽമോനെറ്റ് വിഷു തീം ഫോട്ടോ മത്സരം 2025</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home">
  <div class="overlay"></div>
  <img src="{{ url_for('static', filename='poster.jpg') }}" alt="Contest Poster" class="bg-image">
  <h1 class="main-title">
    ഇൽമോനെറ്റ് <br>
    വിഷു തീം <br>
    ഫോട്ടോ മത്സരം 2025
  </h1>
  <form method="POST" class="center-form">
    <button type="submit" class="show-button full-width">Show Result</button>
  </form>
</body>
</html>
